@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

@layer base {
    body {
        @apply font-[Raleway]
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(142, 142, 142, 0.8),
        hsla(240, 1%, 31%, 0.8)
    )!important;
}
.nav-bar {
    z-index: 1;
}
.nav-item {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: all ease-in-out .1s;
}
.nav-item:hover {
    border-bottom: solid rgb(163, 163, 163);
    transition: all ease-in-out .1s;
}
.image {
    object-fit: cover;
}
.project-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    height:auto;
    width: auto;
}
.project-text-wrapper:hover {
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    opacity: 1;
}