@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

@layer base {
    body {
        @apply font-[Raleway]
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(142, 142, 142, 0.8),
        hsla(240, 1%, 31%, 0.8)
    )!important;
}
.nav-item {
    padding: 10px;
    cursor: pointer;
}